<section>
  <form [formGroup]="recoverform" (ngSubmit)="onsubmitrec()">
    <div class="card grid gap-5 w-[50%]">
      <h2 class="font-bold capitalize text-2xl">forget your password?</h2>
      <div>
        <input
          class="w-[100%]"
          type="text"
          pInputText
          formControlName="email"
          placeholder="Enter yor email"
        />
        @if(recoverform.get('email')?.invalid
        &&(recoverform.get('email')?.touched||recoverform.get('email')?.dirty)){
        <div class="error">
          @if(recoverform.get('email')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter email</p-message
            >
          </div>
          } @if(recoverform.get('email')?.hasError('email')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >Please enter a valid email address.
            </p-message>
          </div>
          }
        </div>

        }
      </div>
      <div class="flex justify-end">
        <a
          [routerLink]="['/authlayout/recoverpassword']"
          class="cursor-pointer capitalize text-blue-500"
          >recover password ?</a
        >
      </div>
      <p-button label="Sign In" type="submit" class="" />
      @if (isloading) {
      <div class="card flex justify-center">
        <p-progress-spinner ariaLabel="loading" />
      </div>
      }
      <p class="text-center capitalize">or continue with</p>
      <div class="icons flex justify-between">
        <a href="">
          <img src="../Google Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Twitter Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Facebook Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Apple Button.svg" alt="" />
        </a>
      </div>
    </div>
  </form>
</section>
