@if(section1){
<section>
  <form [formGroup]="recoverform" (ngSubmit)="submitforget()">
    <div class="card grid gap-5 w-[50%]">
      <h2 class="font-bold capitalize text-2xl">forget your password?</h2>
      <div>
        <input
          class="w-[100%]"
          type="text"
          pInputText
          formControlName="email"
          placeholder="Enter yor email"
        />
        @if(recoverform.get('email')?.invalid
        &&(recoverform.get('email')?.touched||recoverform.get('email')?.dirty)){
        <div class="error">
          @if(recoverform.get('email')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter email</p-message
            >
          </div>
          } @if(recoverform.get('email')?.hasError('email')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >Please enter a valid email address.
            </p-message>
          </div>
          }
        </div>

        }
      </div>
      <div class="flex justify-end">
        <a
          [routerLink]="['/authlayout/recoverpassword']"
          class="cursor-pointer capitalize text-blue-500"
          >recover password ?</a
        >
      </div>
      <p-button label="Sign In" type="submit" styleClass="btn-primary" />
      @if (isloading) {
      <div class="card flex justify-center">
        <p-progress-spinner ariaLabel="loading" />
      </div>
      }
      <p class="text-center capitalize">or continue with</p>
      <div class="icons flex justify-between">
        <a href="">
          <img src="../Google Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Twitter Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Facebook Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Apple Button.svg" alt="" />
        </a>
      </div>
    </div>
  </form>
</section>
} @if(section2){
<section>
  <form [formGroup]="resetcode" (ngSubmit)="submitreset()">
    <div class="card grid gap-5 w-[50%]">
      <h2 class="font-bold capitalize text-2xl">verify code</h2>
      <div>
        <input
          class="w-[100%]"
          type="text"
          pInputText
          formControlName="resetCode"
          placeholder="Enter code"
        />
        @if(resetcode.get('resetCode')?.invalid
        &&(resetcode.get('resetCode')?.touched||resetcode.get('resetCode')?.dirty)){
        <div class="error">
          @if(resetcode.get('resetCode')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please ente code
            </p-message>
          </div>
          }
        </div>

        }
      </div>
      <div class="flex justify-end">
        <a
          [routerLink]="['/authlayout/recoverpassword']"
          class="cursor-pointer capitalize text-blue-500"
          >recover password ?</a
        >
      </div>
      <p-button label="Sign In" type="submit" styleClass="btn-primary" />
      @if (isloading) {
      <div class="card flex justify-center">
        <p-progress-spinner ariaLabel="loading" />
      </div>
      }
      <p class="text-center capitalize">or continue with</p>
      <div class="icons flex justify-between">
        <a href="">
          <img src="../Google Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Twitter Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Facebook Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Apple Button.svg" alt="" />
        </a>
      </div>
      @if(otpmess){
      <div class="card">
        <p-message class="capitalize" severity="error">{{ otpmess }}</p-message>
      </div>
      }
    </div>
  </form>
</section>

} @if(section3){
<section>
  <form [formGroup]="restpassform" (ngSubmit)="submitsetpass()">
    <div class="card grid gap-5 w-[50%]">
      <h2 class="font-bold capitalize text-2xl">set a password</h2>
      <div>
        <p-password
          [toggleMask]="true"
          formControlName="newPassword"
          placeholder="password"
          [feedback]="false"
        />
        @if(restpassform.get('newPassword')?.invalid
        &&(restpassform.get('newPassword')?.touched||restpassform.get('newPassword')?.dirty)){
        <div class="error">
          @if(restpassform.get('newPassword')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter password</p-message
            >
          </div>
          } @if(restpassform.get('newPassword')?.hasError('pattern')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >Password must start with a capital letter and be less than 10
              characters long
            </p-message>
          </div>
          }
        </div>

        }
      </div>
      <div>
        <p-password
          [toggleMask]="true"
          placeholder="repassword"
          formControlName="rePassword"
          [feedback]="false"
        />

        @if(restpassform.get('rePassword')?.invalid
        &&(restpassform.get('rePassword')?.touched||restpassform.get('rePassword')?.dirty)){
        <div class="error">
          @if(restpassform.get('rePassword')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter repassword</p-message
            >
          </div>
          } @if(restpassform.get('rePassword')?.hasError('pattern')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >"Password must start with a capital letter and be less than 10
              characters long.
            </p-message>
          </div>
          }
        </div>

        }
      </div>
      <div class="flex justify-end">
        <a
          [routerLink]="['/authlayout/recoverpassword']"
          class="cursor-pointer capitalize text-blue-500"
          >recover password ?</a
        >
      </div>

      <p-button label="sign in " type="submit" styleClass="btn-primary" />
      @if (isloading) {
      <div class="card flex justify-center">
        <p-progress-spinner ariaLabel="loading" />
      </div>
      }
      <p class="text-center capitalize">or continue with</p>
      <div class="icons flex justify-between">
        <a href="">
          <img src="../Google Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Twitter Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Facebook Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Apple Button.svg" alt="" />
        </a>
      </div>
      @if(otpmess){
      <div class="card">
        <p-message class="capitalize" severity="error">{{ otpmess }}</p-message>
      </div>
      }
    </div>
  </form>
</section>

}
