<section class="w-[70%] my-[3rem]">
  <div class="flex items-center gap-5">
    <div class="flex-grow">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input class="" type="Search" pInputText placeholder="Search quiz" />
      </p-iconfield>
    </div>

    <div class="flex-shrink-0">
      <p-button label="quiz start" styleClass="btn-sec" />
    </div>
    <div class="img flex-shrink-0">
      <img src="../me.jpg" alt="" class="rounded-full w-10 h-10" />
    </div>
  </div>
</section>
