<section>
  <ul class="flex justify-around capitalize w-[70%]">
    <li class="">
      <a href="" class="">english</a>
    </li>
    <li>
      <a
        [routerLink]="['/authlayout/login']"
        routerLinkActive="router-link-active"
        class="font-bold text-blue-600"
        >sign in</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/authlayout/register']"
        routerLinkActive="router-link-active"
        class="text-br"
        >register</a
      >
    </li>
  </ul>
</section>
