<section>
  <h3 class="font-bold text-2xl pb-[3rem] capitalize">sign up</h3>
  <form [formGroup]="RegisterForm" (ngSubmit)="OnSubmit()">
    <div class="card grid gap-5 w-[50%]">
      <div>
        <input
          class="w-[100%]"
          type="text"
          pInputText
          formControlName="username"
          placeholder="User Name"
        />

        @if(RegisterForm.get('username')?.invalid &&
        (RegisterForm.get('username')?.touched||RegisterForm.get('username')?.dirty)){
        <div class="error">
          @if(RegisterForm.get('username')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter user name</p-message
            >
          </div>
          } @if(RegisterForm.get('username')?.hasError('minlength')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >Username must be at least 5 characters.
            </p-message>
          </div>
          } @if(RegisterForm.get('username')?.hasError('maxlength')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >Username cannot be longer than 15 characters.
            </p-message>
          </div>

          }
        </div>

        }
      </div>
      <div>
        <input
          class="w-[100%]"
          type="text"
          pInputText
          formControlName="firstName"
          placeholder="First Name"
        />

        @if(RegisterForm.get('firstName')?.invalid
        &&(RegisterForm.get('firstName')?.touched||RegisterForm.get('firstName')?.dirty)){
        <div class="error">
          @if(RegisterForm.get('firstName')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter first name</p-message
            >
          </div>
          } @if(RegisterForm.get('firstName')?.hasError('pattern')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >first letter must be uppercase</p-message
            >
          </div>
          }
        </div>

        }
      </div>
      <div>
        <input
          class="w-[100%]"
          type="text"
          pInputText
          formControlName="lastName"
          placeholder="Last Name"
        />

        @if(RegisterForm.get('lastName')?.invalid
        &&(RegisterForm.get('lastName')?.touched||RegisterForm.get('lastName')?.dirty)){
        <div class="error">
          @if(RegisterForm.get('lastName')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter last name</p-message
            >
          </div>
          } @if(RegisterForm.get('lastName')?.hasError('pattern')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >first letter must be uppercase</p-message
            >
          </div>
          }
        </div>

        }
      </div>
      <div>
        <input
          class="w-[100%]"
          type="email"
          pInputText
          formControlName="email"
          placeholder="Enter yor email"
        />

        @if(RegisterForm.get('email')?.invalid
        &&(RegisterForm.get('email')?.touched||RegisterForm.get('email')?.dirty)){
        <div class="error">
          @if(RegisterForm.get('email')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter email</p-message
            >
          </div>
          } @if(RegisterForm.get('email')?.hasError('email')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >Please enter a valid email address.
            </p-message>
          </div>
          }
        </div>

        }
      </div>
      <div>
        <p-password
          [toggleMask]="true"
          formControlName="password"
          placeholder="password"
          [feedback]="false"
        />
        @if(RegisterForm.get('password')?.invalid
        &&(RegisterForm.get('password')?.touched||RegisterForm.get('password')?.dirty)){
        <div class="error">
          @if(RegisterForm.get('password')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter password</p-message
            >
          </div>
          } @if(RegisterForm.get('password')?.hasError('pattern')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >Password must start with a capital letter and be less than 10
              characters long
            </p-message>
          </div>
          }
        </div>

        }
      </div>
      <div>
        <p-password
          [toggleMask]="true"
          placeholder="repassword"
          formControlName="rePassword"
          [feedback]="false"
        />

        @if(RegisterForm.get('rePassword')?.invalid
        &&(RegisterForm.get('rePassword')?.touched||RegisterForm.get('rePassword')?.dirty)){
        <div class="error">
          @if(RegisterForm.get('rePassword')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter repassword</p-message
            >
          </div>
          } @if(RegisterForm.get('rePassword')?.hasError('pattern')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >"Password must start with a capital letter and be less than 10
              characters long.
            </p-message>
          </div>
          }
        </div>

        }
      </div>
      <div>
        <input
          class="w-[100%]"
          type="tel"
          pInputText
          formControlName="phone"
          placeholder="Phone"
        />
        @if(RegisterForm.get('phone')?.invalid
        &&(RegisterForm.get('phone')?.touched||RegisterForm.get('phone')?.dirty)){
        <div class="error">
          @if(RegisterForm.get('phone')?.hasError('required')){
          <div class="card">
            <p-message class="capitalize" severity="error"
              >please enter phone</p-message
            >
          </div>
          } @if(RegisterForm.get('phone')?.hasError('pattern')){
          <div class="card">
            <p-message class="capitalize" severity="error">
              Please enter a valid Egyptian mobile number.
            </p-message>
          </div>
          }
        </div>

        }
      </div>

      <div class="flex justify-center">
        <p>Already have an account?</p>
        <a
          [routerLink]="['/authlayout/login']"
          routerLinkActive="active"
          class="flex justify-end cursor-pointer capitalize text-blue-500"
        >
          Login
        </a>
      </div>

      <div>
        <p-button label="Create Account" type="submit" />
        @if (isloading) {
        <div class="card flex justify-center">
          <p-progress-spinner ariaLabel="loading" />
        </div>
        }
      </div>
      <p class="text-center capitalize">or continue with</p>
      <div class="icons flex justify-between">
        <a href="">
          <img src="../Google Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Twitter Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Facebook Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Apple Button.svg" alt="" />
        </a>
      </div>
    </div>
  </form>
</section>
