<section>
  <h3 class="font-bold text-2xl pb-[3rem] capitalize">sign in</h3>

  <form [formGroup]="LoginForm" (ngSubmit)="OnSubmitlog()">
    <div class="card grid gap-5 w-[50%]">
      <div>
        <input
          class="w-[100%]"
          type="text"
          pInputText
          formControlName="email"
          placeholder="Enter yor email"
        />
        <app-err-msg [control]="LoginForm.get('email')"></app-err-msg>
      </div>

      <div>
        <p-password
          [toggleMask]="true"
          placeholder="password"
          formControlName="password"
          [feedback]="false"
        />

        <app-err-msg
          [control]="LoginForm.get('password')"
          patternmsg="Password must start with a capital letter and be less than 10
              characters long"
        ></app-err-msg>
      </div>
      <div class="flex justify-end">
        <a
          [routerLink]="['/authlayout/recoverpassword']"
          class="cursor-pointer capitalize text-blue-500"
          >recover password ?</a
        >
      </div>

      <p-button label="Sign In" type="submit" [disabled]="isloading" />
      @if (isloading) {
      <div class="card flex justify-center">
        <p-progress-spinner ariaLabel="loading" />
      </div>
      }

      <p class="text-center capitalize">or continue with</p>
      <div class="icons flex justify-between">
        <a href="">
          <img src="../Google Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Twitter Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Facebook Button.svg" alt="" />
        </a>

        <a href="">
          <img src="../Apple Button.svg" alt="" />
        </a>
      </div>
    </div>
  </form>
</section>
